ul {
  padding-left: 0;
}

a {
  color: white;
}

a:hover {
  color: lightblue;
}

p {
  font-size: 15px;
}

.cardTitle {
  border: 0 none black;
  border-bottom: 1px solid black;
}

.pcontainer {
  list-style: none;
}

.card {
  background-color: #6c757d;
  margin: auto;
  width: 50vw;
}

.scroll-box {
  background: #6c757d;
  border: 1px solid black;
  height: 400px; /* maximum height of the box, feel free to change this! */
  padding: auto;
  margin: auto;
  margin-right: 6.5px;
  margin-left: 6.5px;
  margin-bottom: 6.5px;
  width: 49vw;
  overflow-y: scroll;
}
